<div class="collapsible collapsible--expanded">
  <header class="collapsible_header">
    <span class="collapsible_heading">Service providers</span>
    <img class="chevron" src="/images/chevron-R.png" alt="chevron-Right" />
  </header>
  <ul class="list collapsible__content collapsible__content--primary">
    <li class="list__item list__item--white"><a href="#">Topics</a></li>
    <li class="list__item list__item--white"><a href="#">Products</a></li>
    <li class="list__item list__item--white"><a href="#">Services</a></li>
    <li class="list__item list__item--white"><a href="#">Training</a></li>
  </ul>
</div>
