<div class="collapsible collapsible--expanded">
  <header class="collapsible_header">
    <span class="collapsible_heading">Enterprises and governments</span>
    <img class="chevron" src="/images/chevron-R.png" alt="chevron-Right" />
  </header>
  <ul class="list collapsible_list">
    <li class="list__item list__item--white">
      <a href="#">Solutions for industry</a>
    </li>
    <li class="list__item list__item--white"><a href="#">Energy</a></li>
    <li class="list__item list__item--white">
      <a href="#">Manufacturing and logistics</a>
    </li>
    <li class="list__item list__item--white">
      <a href="#">Public sector</a>
    </li>
    <li class="list__item list__item--white">
      <a href="#">Transportation </a>
    </li>
    <li class="list__item list__item--white"><a href="#">More ></a></li>
  </ul>
</div>
