<section class="footer">
  <div class="footer__brand">
    <img src="/images/logo_footer.PNG" alt="brand logo" />
  </div>
  <div class="footer_block2">
    <div class="footer__block2-content">
      <p>Looking for Nokia licensed products?</p>
      <img class="footer__arrow" src="/images/arrow.png" alt="" />
      <a href="#">Explore consumer devices</a>
    </div>

    <div class="footer__block2-links">
      <span><a class="footer__link">Sustainability</a></span>
      <span><a class="footer__link">Customer success</a></span>
      <span><a class="footer__link">Standardization</a></span>
      <span><a class="footer__link"> Nokia EDU and training </a></span>
      <span><a class="footer__link">Experience centers</a></span>
    </div>
  </div>

  <div class="footer__block3">
    <a href="#">Contact Us</a>
    <a href="#">Support</a>
    <a href="#">Extranet Access</a>
  </div>
</section>
