<div class="icon__container">
  <svg class="icon">
    <use xlink:href="/images/sprites.svg#icons8-linkedin"></use>
  </svg>
</div>

<div class="icon__container">
  <svg class="icon">
    <use xlink:href="/images/sprites.svg#icons8-twitter"></use>
  </svg>
</div>

<div class="icon__container">
  <svg class="icon">
    <use xlink:href="/images/sprites.svg#icons8-instagram"></use>
  </svg>
</div>

<div class="icon__container">
  <svg class="icon">
    <use xlink:href="/images/sprites.svg#icons8-facebook"></use>
  </svg>
</div>

<div class="icon__container">
  <svg class="icon">
    <use xlink:href="/images/sprites.svg#icons8-youtube"></use>
  </svg>
</div>

<svg class="icon">
  <use xlink:href="/images/sprites.svg#icons8-search"></use>
</svg>

<svg class="icon icon--primary">
  <use xlink:href="/images/sprites.svg#icon-globe"></use>
</svg>

<svg class="icon icon--primary">
  <use xlink:href="/images/sprite.svg#chevron"></use>
</svg>
