<div class="collapsible collapsible--expanded">
    <header class="collapsible_header">
      <a href="#"
        ><img class="nav__brand" src="/images/logo.PNG" alt="Nokia logo"
      /></a>
      <img class="menu" src="/images/icons8-menu.svg" alt="Menu icon" />
    </header>
    <div class="collapsible__content collapsible__content--lightgray">
      <ul class="list list--top2">
        <li
          class="list__item list__item--primary collapsible_list__item collapsible_list__item"
        >
          <a href="#">Service providers</a>
        </li>
        <li class="list__item list__item--primary collapsible_list__item">
          <a href="#">Enterprises and governments</a>
        </li>
        <li class="list__item list__item--primary collapsible_list__item">
          <a href="#">Licensing</a>
        </li>
        <li class="list__item list__item--primary collapsible_list__item">
          <a href="#">Partners</a>
        </li>
        <li class="list__item list__item--primary collapsible_list__item">
          <a href="#">Insights and research</a>
        </li>
        <li class="list__item list__item--primary collapsible_list__item">
          <a href="#">We are Nokia</a>
        </li>
      </ul>
      <div class="nav__bar1">
        <ul class="list list--top1">
          <li class="list__item list__item--primary collapsible_list__item">
            <a class="list--top1_link" href="#">Careers</a>
          </li>
          <li class="list__item list__item--primary collapsible_list__item">
            <a class="list--top1_link" href="#">Investors</a>
          <li class="list__item list__item--primary collapsible_list__item">
            <a class="list--top1_link" href="#">Newsroom</a>
          </li>
      </div>
      </ul>
    </div>
    <div class="nav__icon">
      <a href="#">
        <svg class="icon icon--primary icon--nav">
          <use xlink:href="/images/sprites.svg#icon-globe"></use>
        </svg>
      </a>
      <a href="#">
        <svg class="icon icon--nav ">
          <use xlink:href="/images/sprites.svg#icons8-search"></use>
        </svg>
      </a>
    </div>
  </div>
