<section class="portfolio">
  <p class="block__title">Explore our portfolio</p>

  <div class="grid-container grid_responsive1min_4max">
    <div class="grid-content">
      <img class="grid_img" src="/images/portofolio1.PNG" alt="" />
      <a class="head_arrow portfolio_text" href="#">BSS/OSS</a>
    </div>
    <div class="grid-content">
      <img class="grid_img" src="/images/portofolio2.PNG" alt="" />
      <a class="head_arrow portfolio_text" href="#">Core Networks</a>
    </div>
    <div class="grid-content">
      <img class="grid_img" src="/images/portofolio3.PNG" alt="" />
      <a class="head_arrow portfolio_text" href="#">Data Center</a>
    </div>
    <div class="grid-content">
      <img class="grid_img" src="/images/portofolio4.PNG" alt="" />
      <a class="head_arrow portfolio_text" href="#">Fixed Networks</a>
    </div>
    <div class="grid-content">
      <img class="grid_img" src="/images/portofolio5.PNG" alt="" />
      <a class="head_arrow portfolio_text" href="#">Internet of thngs</a>
    </div>
    <div class="grid-content">
      <img class="grid_img" src="/images/portofolio6.PNG" alt="" />
      <a class="head_arrow portfolio_text" href="#">IP networks</a>
    </div>
    <div class="grid-content">
      <img class="grid_img" src="/images/portofolio7.PNG" alt="" />
      <a class="head_arrow portfolio_text" href="#">Mobile networks</a>
    </div>
    <div class="grid-content">
      <img class="grid_img" src="/images/portofolio8.PNG" alt="" />
      <a class="head_arrow portfolio_text" href="#">Optical networks</a>
    </div>
    <div class="grid-content">
      <img class="grid_img" src="/images/portofolio9.PNG" alt="" />
      <a class="head_arrow portfolio_text" href="#">Private networks</a>
    </div>
    <div class="grid-content">
      <img class="grid_img" src="/images/portofolio10.PNG" alt="" />
      <a class="head_arrow portfolio_text" href="#">Security</a>
    </div>
    <div class="grid-content">
      <img class="grid_img" src="/images/portofolio11.PNG" alt="" />
      <a class="head_arrow portfolio_text" href="#">Solutions for industry</a>
    </div>
  </div>
</section>
